.estimation-form {
    background-color: #f3f4f5;
    padding: 10px;
}

.avg-velocity-wrapper {
    width: 60%;
    text-align: center;
}

.estimator-wrapper {
    margin: 10px;
}

.estimator-wrapper h3 {
    text-align: center;
}
#average-weekly-velocity {
    text-align: center;
}