p {
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

.tickler {
    background-color: rgb(243, 244, 245);
    margin-top: 20px;
    padding: 20px;
    height: 150px;
}

.btn-wrapper {
    text-align: center;
    margin-top: 20px;
}

.loading {
    margin-top: 50px;
    text-align: center
}

.wrapper {
    margin: 10px;
}